blockquote {background-color: #eaeaea; padding: 5px; margin-left: 0;}
blockquote footer {margin-top: 1em;}
.ed {border: 1px solid #f00; padding: 10px; font-style: italic;}
.ed:before {content: "Ed.: ";}
.easy, .medium, .hard {padding: 0 2px;}
.easy {background-color: #92d050;}
.medium {background-color: #ffc000;}
.hard {background-color: #f00;}
