body {
	font: 1em/1.4 sans-serif;
	margin: 0;
}
code {font-size: 1.2em;}
header {background: #000;}
header .site-name {color: #fff; font-size: 2em; padding: 10px;} 
nav.main, nav.bc {padding: 0 0 1em;}
nav.bc {background: #eaeaea; padding-top: 1em; font-size: 0.875em; line-height: 1.6;}
nav ul, nav ol {padding: 0; margin: 0;}
nav.main li, nav.bc li {display: inline; list-style-type: none;}
nav.main li {margin: 0 10px;}
nav.main a:link, nav.main a:visited, .gh-src a:link, .gh-src a:visited {color: #fff;}
nav.bc ol {padding-left: 10px;}
nav.bc li {margin: 0;}
nav.bc li:not(:last-child):after {content: " →";}
main {padding: 0 10px;}
div.draft {margin: 1em 0; padding: 10px; background-color: #90b5df;}
div.draft p.draft, div.draft p {margin: 0;}
div.draft p.draft {font-size: 1.6em;}
.gh-src {display: inline-block; padding: 10px; margin: 0; background-color: #666; color: #fff; font-weight: 100;}
footer {border-top: 1px solid #999; margin-top: 2em; padding: 1em 10px;}
footer .nz-govt {float: left; margin-bottom: 1em;}
footer .dia {float: right; margin-bottom: 1em;}
footer .dia img {display: block;}
footer .copyright {clear: both;}