/* ****** Default Tag Styles ****** */
html, body, ul, ol, li, 
dl, dt, dd, p, div, img,
h1, h2, h3, h4, h5, h6, 
form, fieldset, a { 
	border: 0;
	margin: 0; 
	outline: 0;
	padding: 0; 
} 
html { font-size: 100.01%; }
body {
	background-color: #fff;
	color: #333;
	font: normal 62.5%/1.5em arial,verdana,sans-serif;
}

h1, h2, h3, h4, h5, h6 { line-height: 1.6em; }

h1 { 
	font: normal 2.2em arial; 
	margin: .5em 0 0;
}
h2 { font: bold 1.6em arial; margin: 1em 0 0.5em;}
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }
h5 { font-size: .9em; }
h6 { font-size: .9em; }

h2 a,
h2 a:link,
h2 a:visited { color: #333; }

p { margin: 0 0 1.5em; }	

a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

table th { text-align: left; }

legend { 
	margin: -9999px;
	position: absolute; 
}

/* ****** Main Containers ****** */
#outerContainer {
	margin: 0 auto;
	padding: 0;
	width: 963px;
}
.innerContainer {
	float: left;
	font-size: 1.2em;
	padding-bottom: 2em;
	width: 100%;
}

/* ****** START Header Area Styles ****** */
.header {
	float: left;
	margin-top: 1em;
	position: relative;
	width: 100%;
}

.header .logo span, 
.header .logo img {
	margin: -9999px;
	position: absolute;
}

.header .logo a,
.header .logo a:link,
.header .logo a:visited {
	background: url(logo-CAB.jpg) no-repeat 0 0;
	float: left;
	height: 114px;
	width: 155px
}

.banner {
	float: right;
	text-align: center;
	width: 64%;
}

.header .floatRight { width: 180px; }

.findCAB { clear: both; }
.findCAB a,
.findCAB a:link {
	background: url(promoTiles/promo-findLocal.jpg) no-repeat 0 0;
	height: 103px;
	width: 180px; float: right;
}

.textResize { 
	float: left; 
	width: auto;
}
.textResize li { 
	display: inline; 
	float: left; 
	padding: .7em 0 0 .25em; 
	width: auto;
}
.textResize a { 
	float: left; 
	height: 14px;
}

#textSmall {
	background: url(icons/icon-resize-small.jpg) no-repeat 0 bottom;
	margin-top: .6em;
	width: 9px;
}
#textMedium {
	background: url(icons/icon-resize-medium-selected.jpg) no-repeat 0 bottom;
	margin-top: .6em;
	width: 13px;
}
#textLarge {
	background: url(icons/icon-resize-large.jpg) no-repeat 0 bottom;
	margin-top: .6em;
	width: 14px;
}


.header .home {
	background: url(icons/icon-home.jpg) no-repeat 0 0;
	color: #999;
	margin-left: 1em;
	padding: .7em 0 0 2.5em; 
}

/* ****** START Main Nav Styles ****** */
.mainNav {
	background: #c8c8c8 url(bg-topNav-btm.gif) no-repeat 0 bottom; 
	float: left;
	margin: 0 0 .8em;
	width: 962px;
}
.mainNavTop {
	background: url(bg-topNav-top.gif) no-repeat 0 0; 
	float: left;
	width: 962px;
}

.mainNav ul {
	background: url(topNav-border.gif) repeat-y right 0;
	float: left;
	margin-left: 3.5em;
	width: auto; 
}
.mainNav li { 
	display: inline;
	list-style-type: none;
}

.mainNav a,
.mainNav a:link,
.mainNav a:visited {
	background: url(topNav-border.gif) repeat-y 0 0;
	color: #fff;
	float: left;
	font: bold 1.4em arial;
	padding: 1em 1em;
	width: auto;
}
.mainNav a:hover,
.mainNav a:active,
.mainNav a.current,
.mainNav a.current:link,
.mainNav a.current:visited { 
	background-color: #fff44d; 
	color: #666; 
	text-decoration: none;
}

/* ****** Utilities Area Styles ****** */
.utilities { 
	float: left;
	margin: .5em 0; 
	width: 100%;
}
.utilities div { float: left; }

.utilities li {
	display: inline;
	font: normal .8em verdana;
	float: left;
	list-style-type: none;
	padding: .5em 0;
}
.utilities a,
.utilities a:link,
.utilities a:visited { 
	color: #333; 
	float: left;
	padding: 0 .7em;	
}

.breadcrumbs span { 
	float: left; 
	width: auto;
}

.breadcrumbs a,
.breadcrumbs a:link,
.breadcrumbs a:visited { 
	padding: 0 .5em 0 0;
	text-decoration: underline; 
}

div.utilItems { 
	background-color: #e9e9e9;
	float: right; 
	margin-right: 1em;
	white-space: nowrap;
	width: 300px;
}

div.utilItems a,
div.utilItems a:link,
div.utilItems a:visited { 
	border-right: 1px solid #333; 
	color: #666;
	float: left; 
}

/* ****** START Content Area Styles ****** */
.contentContainer { 
	float: left;
	position: relative;
	width: 770px;
}

/* Search */
.searchTop,
.searchBtm { 
	background: url(bg-search-top.gif) no-repeat 0 0; 
	height: 20px;
	width: 100%; 
}
.searchBtm { background: url(bg-search-btm.gif) no-repeat 0 bottom; }
.search { 
	background: url(bg-search-mid.gif) repeat-y 0 0; 
	position: relative;
}
* html .search { float: left; }

.search fieldset {
	background: url(text-notSure.jpg) no-repeat 1em 0;
	padding-left: 285px;
}

.search fieldset div { 
	float: left;
	padding-top: .5em; 
	width: 100%; 
}

.search label {
	margin: -9999px;
	position: absolute;
}
.search input { width: 14.55em; }
.search select { 
	float: left; 
	margin-right: 1.5em;
	width: 15em;
}

.search div.radio { 
	margin-top: -1.5em;
	width: 35.5%; 
}
.search div.radio input { 
	float: left;
	position: relative;
	width: 1.75em; 
}
.search .radio label { 
	color: #fff;
	float: left;
	line-height: 1.2em;
	margin: 0;
	padding-top: .25em; 
	position: relative;
	width: 8em; 
}

.search .button { 
	background: url(bg-button.png) no-repeat 0 0; 
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	margin-top: -1em;
	padding: .6em 0 .75em 1.2em;
	width: 71px; 
}
* html .search .button { 
	padding-top: .4em;
	position: relative;
}
*:first-child+html .search .button { padding-top: .3em }

.btnSearch { 
	float: right; 
	margin-right: 2.5em; 
}

.search a,
.search a:link,
.search a:visited { 
	background: url(arrow-down.gif) no-repeat 0 center; 
	color: #fff; 
	padding-left: 1.25em;
}

.search .location { width: 45%; }
.location .buttons { margin-top: .5em; }

/* Basic Search */
.search div.basicSearch {
	float: right;
	width: 50%;
}

.search div.basicSearch input { float: none; }

.search div.basicSearch label {
	position: absolute;
	width: 12em;
}

.quickLink a,
.quickLink a:link,
.quickLink a:visited { background: url(arrow-up-white.gif) no-repeat 0 center; }

/* Advanced Search */
#advancedFiltersPanel h3 { 
	color: #fff; 
	text-indent: .5em;
	margin: 0;
}

#advancedFiltersPanel .radio {
	border-left: 1px solid #f0f8ff;
	float: right;	
	margin: -145px -40px 0 0;	
	padding: 0;
	position: relative; 
	right: 0;
}
* html #advancedFiltersPanel .radioLeft { width: 200px; }
*:first-child+html #advancedFiltersPanel .radioLeft { width: 200px; }

#advancedFiltersPanel .radioLeft { width: 305px; }
#advancedFiltersPanel .radioLeft label { width: 10em; }
#advancedFiltersPanel .radioRight { width: 150px; }
#advancedFiltersPanel .radioRight label { width: 7em; }

.search  div.advancedLinks { width: 15em; }
#searchtipslink { background-image: none; }

/* Topic Styles */
.topicTab {
	background: url(bg-tab.gif) no-repeat 0 0; 
	bottom: -1.8em;
	height: 3em; 
	left: 8.7em;
	position: absolute;
	width: 154px;
}
.topicTab a,
.topicTab a:link,
.topicTab a:visited {
	background-image: none;
	color: #fff;
	display: block;
	padding: 1.25em 0 0;
	text-align: center;
}

.topics {
	background: url(bg-topics.gif) no-repeat 0 0; 
	float: left;
	padding: 1.5em 0 1em .6em;
	width: 770px;	
}

.topics ul { 
	float: left; 
	width: 33%;
}
.topics li { 
	background: url(bg-topicItem.gif) no-repeat 0 0; 
	float: left;
	list-style-type: none; 
	margin-bottom: .5em;
	padding: .2em;
	width: 247px;
}

.topics a,
.topics a:link,
.topics a:visited {
	color: #333;
	float: left;
	font: normal 1.25em arial;
	height: 2.4em;
	padding: .5em 0 0 3.25em; 
	width: 190px;
}

.consumer a { background: url(icons/icon-consumer.png) no-repeat 0 0; }
.educate a { background: url(icons/icon-education.png) no-repeat 0 0; }
.employ a { background: url(icons/icon-employment.png) no-repeat 0 0; }
.family a { background: url(icons/icon-family.png) no-repeat 0 0; }
.govt a { background: url(icons/icon-government.png) no-repeat 0 0; }
.health a { background: url(icons/icon-health.png) no-repeat 0 0; }
.housing a { background: url(icons/icon-housing.png) no-repeat 0 0; }
.money a { background: url(icons/icon-money.png) no-repeat 0 0; }
.newNZ a { background: url(icons/icon-newToNZ.png) no-repeat 0 0; }
.recreation a { background: url(icons/icon-recreation.png) no-repeat 0 0; }
.travel a { background: url(icons/icon-travel.png) no-repeat 0 0; }

/* Content (and Editable WYSIWYG) Styles */
.content span { color: #999; }

.content ul,
.content ol { margin: 1em 0 1em 2em; }

.content ul ul,
.content ol ol,
.content ul ol,
.content ol ul { margin: .25em 0 .25em 1.5em; }

.content ol ol,
.content ul ol { 
	list-style-type: lower-alpha;
	margin-left: 2em; 
}

.content ol ol ol,
.content ul ol ol { list-style-type: lower-roman; }

.intro { font-weight: bold; }

/* Content Footer stlyes */
.contentFooter { 
	color: #999;
	float: left;
	margin: 1em 0;
	width: 100%;
}
.contentFooter a,
.contentFooter a:link,
.contentFooter a:visited { 
	background: url(arrow-up.gif) no-repeat 0 center;
	color: #2aabdf;
	float: left; 
	padding-left: 1.5em;
}

/* ****** START Promo Panel Styles ****** */
.promoPanel { 
	float: right;
	width: 184px;
}

.promoPanel a,
.promoPanel a:link,
.promoPanel a:visited { color: #2aabdf; }

.promoPanel h2 {
	font-size: 1em;
	margin: 1em 0 .5em .5em;
}
.promoPanel li {
	background: url(bullet.gif) no-repeat .75em .4em;
	list-style-type: none;
	padding: 0 0 .2em 1.5em;
}
.promoPanel .promos li { 
	background: none;
	padding: 0 0 .5em; 
}

/* ****** START Footer Area Styles ****** */
.footerTop,
.footerBtm {
	background: url(bg-footer-btm.gif) no-repeat 0 0; 
	float: left;
	margin: 0 auto;
	width: 962px; 
}
.footerBtm { 
	height: 17px; 
	margin-bottom: .5em;
}
.footerTop { background: #b3b3b3 url(bg-footer-top.gif) no-repeat 0 0; }

.footer {
	clear: both;
	margin: 0 auto;
	position: relative;
	width: 962px;
}
.footer a,
.footer a:link,
.footer a:visited { color: #2aabe2; }

.footer ul { 
	color: #fff;
	margin: 0;
	padding: 1.5em 0 0 1.6em;
	width: 98.2%; 
}

.footer li { 
	border-right: 1px solid #fff;
	display: inline; 
	font-size: 1.1em;
	list-style-type: none;
	padding: 0 .75em; 
}

.footer li a,
.footer li a:link,
.footer li a:visited { color: #fff; }

.footer p { 
	clear: both;
	padding: 1em 2em 0; 
}

.footer .logo {
	display: block;
	height: 87px;	
	position: absolute;
	right: 5em;
	top: 1em;
	width: 89px;
	z-index: 9999;
}
html>body .footer .logo { background: url(logo-cab-footer.png) no-repeat 0 0; }
* html .footer .logo { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../Style%20Library/CAB/images/logo-cab-footer.png', sizingMethod='crop');  }

/* ****** START Generic Styles ****** */
.floatLeft { float: left; }
.floatRight { float: right; }

.hidden { 
	margin: -9999px;
	position: absolute; 
}

li.last,
li.last a,
li.last a:link,
li.last a:visited { border: 0; }

#qaApprovePublish { display: none; }
#qaPublish { display: none; }