/* ****** Default Tag Styles ****** */
html, body, ul, ol, li, 
dl, dt, dd, p, div, img,
h1, h2, h3, h4, h5, h6, 
form, fieldset, a { 
	border: 0;
	margin: 0; 
	outline: 0;
	padding: 0; 
} 
body {
	background-color: #fff;
	color: #000;
	font: normal 12pt/1.5em arial,verdana,sans-serif;
}

h1, h2, h3, h4, h5, h6 { line-height: 1.2em; }

h1 { margin-bottom: 15px; }
h2 { font-size: 14pt; }

p { margin: 0 0 1.5em; }	

a:link, a:visited { 
	color: #2aabdf;
	text-decoration: none; 
}

legend { 
	margin: -9999px;
	position: absolute; 
}

/* Hide Page Elements */
.banner, .header .floatRight, .hidden,
.mainNav, .utilities, .searchTop, .logo span,
.searchBtm, .search, .topicTab, .topics, .subNav,
.contentFooter, .promoPanel, .footerTop, .ms-SPLink, 
.ms-consoleframe, .footerBtm, .footer ul { display: none; }

/* Content (and Editable WYSIWYG) Styles */
.content { font-size: 10pt; }

.content span { color: #999; }

.content ul,
.content ol { margin: 1em 0 1em 2em; }

.content ul ul,
.content ol ol,
.content ul ol,
.content ol ul { margin: .25em 0 .25em 1.5em; }

.content ol ol,
.content ul ol { 
	list-style-type: lower-alpha;
	margin-left: 2em; 
}

.content ol ol ol,
.content ul ol ol { list-style-type: lower-roman; }

.intro { font-weight: bold; }

/* Search Styles */
.detailsBox label {
	color: #000;
	font-weight: bold;				
}
.detailsBox th { text-align: left; }

/* Content Footer stlyes */
.contentFooter { 
	color: #999;
	float: left;
	margin: 1em 0;
	width: 100%;
}
.contentFooter a,
.contentFooter a:link,
.contentFooter a:visited { 
	background: url(../images/arrow-up.gif) no-repeat 0 center;
	color: #2aabdf;
	float: left; 
	padding-left: 1.5em;
}

/* ****** START Footer Area Styles ****** */
.footer{ 
	text-align: center; 
	width: 100%;
}
.footer p { display: none ;}

.footer span.hidden {
	color: #666;
	display: block;
	font: bold 10pt arial;
	margin: 0;
	position: relative;
} 

.footer span.hidden img {
	top: 25px;
	position: relative;
}




