body { font: normal 55% arial,verdana,sans-serif; }

.topicTab {
	bottom: -2em;
	left: 9.9em;
}

.topics a,
.topics a:link,
.topics a:visited { padding: .5em .2em .5em 4em; }

#textSmall { background: url(../images/icons/icon-resize-small-selected.jpg) no-repeat 0 0; }
#textMedium { background: url(../images/icons/icon-resize-medium.jpg) no-repeat 0 0; }