body { font: normal 75% arial,verdana,sans-serif; }

#textLarge { background: url(../images/icons/icon-resize-large-selected.jpg) no-repeat 0 0; }
#textMedium { background: url(../images/icons/icon-resize-medium.jpg) no-repeat 0 0; }

div.content { width: 560px; }

.topicTab {
	bottom: -1.8em;
	left: 7.2em;
}

.topics li { margin-bottom: .1em; }
.topics a,
.topics a:link,
.topics a:visited { padding-top: .1em; }

div.content div.map { margin-top: -.2em; }

.footer ul { width: 98%; }
.footer .logo { right: -0.5em; }
