
.content { width: 730px; }

/* Section Blocks */
.blocks div {
	background-color: #9bd7f1;
	float: left;
	height: 10em;
	margin: 0 .5em .5em 0;
	padding: .5em;
	position: relative;
	width: 230px;
}
.blocks h2 { margin-bottom: .5em; }

.blocks a,
.blocks a:link,
.blocks a:visited { 
	background: url(../images/bg-button-med.gif) no-repeat 0 center; 
	border: 0;
	bottom: .5em;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 1em;
	margin-top: -1em;
	padding: .7em 0 .75em 1.7em;
	position: absolute;
	right: -1em;
	width: 91px;
}