body {
	font: 1em/1.4 sans-serif;
	margin: 0;
}
h1 {font-size: 2.25em;}
h2 {font-size: 1.875em; margin-top: 2em; padding-top: 10px; text-shadow: 2px 2px 2px #ccc;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.125em;}
h5 {font-size: 0.875em;}
h6 {font-size: 0.75em;}
header, footer, nav, main, article, section, aside {display: block;}
code, kbd {font-size: 1.2em; color: #000;}
code{background-color: #ffffee;}
kbd {background-color: #ededed; border-color: #fafafa #dadada #dadada #ededed; border-style: solid; border-width: 2px; padding: 0 2px 0 1px;}
table {border-collapse: collapse; border-spacing: 0; margin-top: 0.25em; margin-bottom: 1.5em;}
th, td {border: 1px solid #aaa; vertical-align: middle; padding: 0.5em; background-color: #fff;}
th {font-weight: bold;}
thead th {background-color: #254a66; color: #fff; text-align: center;}
tbody th {background-color: #ddd; color: #333; text-align: left;}
td, td img {vertical-align: top;} 
dt {font-size: 1.2em; font-style: normal; font-weight: bold; margin-top: 1em;}
blockquote {background-color: #eaeaea; padding: 0.3125em; margin-left: 0;}
blockquote footer {margin-top: 1em;}
details, summary {display: block;}
details {background-color: #f5f5f5; border: 1px solid #ccc; margin: 5px; padding: 0.5em;}
details details {background-color: #e5e5e5;}
details details details {background-color: #d5d5d5;}
details details details details {background-color: #f5f5f5;}
summary h2, summary h3, summary h4, summary h5 {display: inline;}
summary h4, summary h5 {font-size: 1.125em;}
summary {padding: 0.25em 0.25em 0.25em 2em; background: #fff url(../img/rightArrow.png) no-repeat 0.5em center;}
summary::-webkit-details-marker {display: none;}
details[open] > summary {background-image: url(../img/downArrow.png);}
summary:hover, summary:focus, details[open] summary:hover, details[open] summary:focus {background-color: #eee;}
.detailsContent {display: none;}
details[open] .detailsContent {display: block;}
header {background: #000;}
header .site-name {color: #fff; font-size: 2em; padding: 10px;} 
nav.main, nav.bc {padding: 0 0 1em;}
nav.bc {background: #eaeaea; padding-top: 1em; font-size: 0.875em; line-height: 1.6;}
nav ul, nav ol {padding: 0; margin: 0;}
nav.main li, nav.bc li {display: inline; list-style-type: none;}
nav.main li {margin: 0 10px;}
nav.main a:link, nav.main a:visited, .gh-src a:link, .gh-src a:visited {color: #fff;}
nav.bc ol {padding-left: 10px;}
nav.bc li {margin: 0;}
nav.bc li:not(:last-child):after {content: " →";}
main {padding: 0 10px;}
div.draft {margin: 1em 0 0; padding: 10px; background-color: #90b5df;}
div.draft p.draft, div.draft p {margin: 0;}
div.draft p.draft {font-size: 1.6em;}
.gh-src {display: inline-block; padding: 10px; margin: 1em 0 0; background-color: #666; color: #fff; font-weight: 100;}
footer {border-top: 1px solid #999; margin-top: 2em; padding: 1em 10px;}
footer .nz-govt {float: left; margin-bottom: 1em;}
footer .dia {float: right; margin-bottom: 1em;}
footer .dia img {display: block;}
footer .copyright {clear: both;}

.ed {border: 1px solid #f00; margin: 1em; padding: 0.625em; font-style: italic;}
.ed:before {content: "Ed.: ";}