/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/* Customisations */

.offscreen {position: absolute; left: -9999em;}

.reveal .slides > section, .reveal .slides > section > section {padding: 0;}
.reveal ol, .reveal dl, .reveal ul {margin: 0 0 1em 1em;}
.reveal a:link, .reveal .fake-link {color: #0895F2; text-decoration: underline;}
.reveal a:hover, .reveal a:focus, .reveal .fake-link:hover, .reveal .fake-link:focus {color: #8dcffc; background-color: #000;}
.reveal section img {margin: 0; border: none; max-width: 100%; max-height: 100%; box-shadow: none;}


.reveal .controls {background: rgba(34,34,34,0.5);}
.reveal .controls .navigate-left.enabled, 
.reveal .controls .navigate-right.enabled {color: #5590C8; opacity: 1;}

.reveal .controls .navigate-left.enabled:hover, .reveal .controls .navigate-left.enabled:focus {
    border-right-color: #ff0;
}
.reveal .controls .navigate-right.enabled:hover, .reveal .controls .navigate-right.enabled:focus {
    border-left-color: #ff0;
}
.reveal .controls .navigate-up.enabled:hover, .reveal .controls .navigate-up.enabled:focus {
    border-bottom-color: #ff0;
}
.reveal .controls .navigate-down.enabled:hover, .reveal .controls .navigate-down.enabled:focus {
    border-top-color: #ff0;
}

#s2 h2 svg {display: block; margin: 20px auto 0;}

.reveal kbd {
	color: #333;
  background-color: #EDEDED;
  border-color: #FAFAFA #DADADA #DADADA #EDEDED;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  line-height: 1.3;
  padding: 0 2px 0 1px;
}

.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.float-left {float: left;}
.float-right {float: right;}
.clear-float {clear: both;}
.right {position: absolute; left: 520px; top: 0;}
.middle {position: absolute; top: 50%; transform: translateY(-50%);}
.reveal .margin-left {margin-left: 20px;}
.reveal .yellow {color: #FFFF6B;}
.reveal .black {color: #000;}
.reveal .green {color: #72FF6D;}
.reveal .red {color: #FF3D3D;}
.reveal .big {font-size: 2em;}
.reveal .big2 {font-size: 1.6em;}
.reveal .big3 {font-size: 1.2em;}
.reveal .big4 {font-size: 0.8em;}
.reveal .small {font-size: 0.5em;}
.reveal .dim {opacity: 0.1;}

.reveal q {quotes: '"' '"' "'" "'";}

.reveal .hljs {background-color: #000;}

.reveal .hljs-keyword, .reveal .hljs-selector-tag, .reveal .hljs-tag {color: #C5CC45;}

.reveal .submit {background-color: #fff; font-size: 0.6em;}

.top-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 440px;
	text-align: right;
}

.reveal input[type="radio"] {
	  -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    width:20px;
    height:20px;
    border:2px solid #999;
    background:#fff;
    border-radius:50%;;
}
.reveal input[type="radio"]:checked {appearance: none; border-width: 5px; border-color: #666; background: #f00;}

.speaker-controls-notes .value {font-size: 0.8em;}

.reveal cite {
	display: block;
}
.reveal figure {position: relative;}
.reveal figure.center {display: inline-block; margin: 0 auto;}
.reveal figure img {display: block;}
.reveal figure cite {
	position: absolute; 
	left: 0; 
	bottom: 0; 
	font-size: 0.2em;
	background-color: rgba(0, 0, 0, 0.7);
}

.reveal figure cite a:link, .reveal figure cite a:visited {
	color: rgba(255, 255, 255, 0.8);
}

.reveal table {}
.reveal table th, .reveal table td {color: #000; text-align: center; border: 1px solid #000;}
.reveal table th {background: #eaeaea;}
.reveal table td {background: #fff;}


.reveal .checkbox {
    display: inline-block;
    background: #222 url(../../img/checkbox.png) no-repeat 7px 24px;
    padding: 5px 5px 5px 28px;
}
.reveal .checkbox.checked, .reveal .checkbox[aria-checked="true"] {
    background: url(../../img/checkbox-checked.png) no-repeat 7px 24px;
    padding-left: 28px;
}

.reveal h3:focus {outline: 2px solid red;}

.reveal section.past a, 
.reveal section.past input, 
.reveal section.past div[tabindex="0"],
.reveal section.future a, 
.reveal section.future input, 
.reveal section.future div[tabindex="0"] { display: none;}